div {
    border: 1px solid;
    margin-bottom: 12px;
    padding: 9px;
}

button{
    background-color: #add8e6;
    border: none;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    padding: 6px 18px;
}